table tr td {
  word-break: break-all;
}

.search-row {
  background-color: #607D8B;
  padding: 6px;
  color: #fff;
}
.search-row input {
  height: 50px;
}
.search-row h4 {
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
  margin: 0;
}

.search-issues {
  background-color: #34515f;
}
.search-issues h4 {
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  color: #fff;
}
